* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #07072e;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2f4f4f;
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.50s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #4f7a7a;
}

.left {
    font-size: 2rem;
} */


#header{
    width: 100%;
    /* background-color: #1e2e2e; */
    height: 20vh;
}
.logo{
    height: 135px;
}
.container{
    padding: 10px 10%;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: #2f4f4f; */
    /* height: 70px; */
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    height: 3px;
    width: 0;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 90px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    /* background-color: red; */
    font-size: 2.5rem;
    /* margin: 90px 0; */
}

.rightSection {
    /* background-color: #2f4f4f; */
}

.rightSection img {
    width: 90%;
    /* margin: 20px 0; */
}

.name {
    color: #4f7a7a;
}

.about {
    padding: 80px 45px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
}

.about-col-2 p {
    width: 85%;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.50s;
}
.tab-links:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 20px;
    font-weight: 300;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------------ project section--------- */
.portfolio{
padding: 50px 85px;
}
.work-list{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(50px,1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    transition: 0.5s;
}
.layer h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #07072e;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    /* text-align: center; */
    /* line-height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    border: 2px solid #ff004f;
    margin: 50px auto;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.btn:hover{
    background: #2f4f4f;
}

/* ------------------contact---------------- */
.contact{
    padding: 50px 85px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}

.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 30px;
    color: #ff004f;
    display: inline-block;
    transition: transfor(0.50s);
}
.social-icons a :hover{
    transform: translateY(-10px)
}
.btn.btn-2{
    display: inline-block;
    background-color: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    outline: none;
    border: 0;
    background-color: #203333;
    padding: 13px;
    margin: 13px 0;
    font-size: 16px;
    color: #4f7a7a;
    border-radius: 5px;
}
form .btn-2{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #1e2e2e;
    font-weight: 300;
    margin-top: 25px;
}
.copyright .fa-regular{
    color: #ff004f;
}

/* -----------------------Responsive------------------ */

nav .fas{
    display: none;
}
@media only screen and (min-width:400px) and (max-width:1100px){
    #header{
        width: 100%;
    }
    .logo{
        height: 140px;
    }
    .container{
        padding: 5px 5%;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        /* background-color: #2f4f4f; */
        /* height: 70px; */
    }
    .leftSection{
        width: 80%;
        padding: 40px 20px;
        font-size: 20px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        margin: 25px;
        display: block;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        right: 25px; 
        cursor: pointer;
    }
    .work-list{
        display: block;
        flex-basis: 100%;
    }
    .contact-left, .contact-left{
        /* flex-basis: 100%; */
    }
}
#msg{
    display: block;
    margin-right: 50px;
    /* margin: -40px; */
    color: green;
}